<!DOCTYPE html>
<html>
<head>
	
	<title>Result Page</title>
</head>
<body>
	
<h1>Add Question</h1>
	<form action="admin/add" method="post">
		<table>
			<tr>
				<td>title</td>
				<td><input type="text" name="title" /></td>
			</tr>
			<tr>
				<td>option1</td>
				<td><input type="text" name="optionA" /></td>
			</tr>
			<tr>
				<td>option2</td>
				<td><input type="text" name="optionB" /></td>
			</tr>
			<tr>
				<td>option3</td>
				<td><input type="text" name="optionC" /></td>
			</tr>
			<tr>
				<td>ans</td>
				<td><input type="text" name="ans" /></td>
			</tr>
			<tr>
				<td>chose</td>
				<td><input type="text" name="chose" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Add" /></td>
			</tr>
		</table>
	</form>
</body>
</html>